.title {
	font-size: 140px;
	font-family: "Georgia";
	position: absolute;
	left: 50%;
	margin-top: 10px;
	transform: translate(-50%,0%);
	user-select: none;
}

.buttons {
	position: absolute;
	top: 40%;
	left: 50%;
	user-select: none;
}

.buttons button{
	position: relative;
	background-color: rgb(171,171,171);
	width: 700px;
	aspect-ratio: 6/1;
	margin: auto;
	margin-bottom: 20px;
	transform: translate(-50%,0%);
	font-size: 60px;
	font-family: "Georgia";
	border: 10px outset rgb(205,205,205);
	box-shadow: 4px 4px rgb(30,30,30), 4px -4px rgb(30,30,30), -4px 4px rgb(30,30,30), -4px -4px rgb(30,30,30);
}

.buttons button:hover{
	background-color: rgb(200,200,200);
	border: 10px outset rgb(234,234,234);
}

.buttons button:active{
	background-color: rgb(185,185,185);
	border: 10px inset rgb(210,210,210);
}

.buttons button:active span{
	position: relative;
	top: 10px;
}

.square{
	position: absolute;
	left: 0;
	right: 0;
	top: 45%;
}

.square button{
	width: 14%;
	left: 12%;		/* width/2 + spacing [21%+4%/2]*/
	margin-left: 3%;
	margin-bottom: 3%;
	aspect-ratio: 1.5/1;
}












